.cont{
    background: linear-gradient(to top, rgba(#541792, 0.6), rgba(225, 60, 20, 0.6) 100%);    
}

option{
    overflow: hidden;
}

::file-selector-button{
    border: solid 2px #541792;
    background-color: white;
    border-radius: 15px;
}

.form-div{
    width: 75%;
}

@media (max-width: 576px){
    .form-div{
        width: 100%;
    }
} 
