<app-navbar></app-navbar>
<div class="container d-flex justify-content-center align-items-center">
<div class="cont d-flex row w-100 justify-content-center rounded shadow pb-5 pt-5 ">
    <div class="bg-white rounded shadow w-75 m-lg-5 p-5">
        <div class=" d-flex justify-content-between">
            <h2>My Account</h2>
            <button *ngIf="!isEditable" class=" btn bg-white border-primary" (click)="onEdit()">
                <div>Edit <i class="fa-regular fa-pen-to-square"></i></div>
            </button>
            <button *ngIf="isEditable" class=" btn bg-white border-primary" (click)="onCancel()">
                <div> Cancel </div>
            </button>

        </div>
        <form [formGroup]="accountForm" class="form-group" (ngSubmit)="onSubmit()">
            <div *ngFor="let input of accountFormShape" class="pt-2 pb-2">
                <label [for]="input.name" class="mb-2">{{input.label}}</label>
                <input [formControlName]="input.name" [id]="input.name" [type]="input.type" 
                [ngClass]="!isValidInput(input.name) ? 'form-control' : 'form-control is-invalid'">
                <p *ngIf="isValidInput(input.name)" class="text-danger form-text">{{getInputError(input.name)}}</p>
            </div>
            <button *ngIf="isEditable" type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>

        <h6 class="mt-5 mb-2">Password Change</h6>
        <button class="btn border-primary">Change Password</button>

        <h6 class="mt-5 mb-2">Account Deletion</h6>
        <button class="btn btn-danger" (click)="onDeleteModal()"> Delete Account </button>
    </div>
</div>
</div>