<div class=" main d-flex flex-wrap col">
    <div class="w-50 h-100 textReg">
        <div class="dot"></div>
        <div class="dot2"></div>
        <div class="dot3"></div>
    </div>

    <div class="h-100 formReg d-flex flex-wrap align-self-start">
        <div>
            <img src="../../../assets/event.svg" height="75px"  class="w-100 mt-1">

            <div class='d-flex row w-100 p-5 pt-lg-2 pb-0 mb-lg-0 mt-lg-5' id="form-div">
                <h1 class="mb-5"> Sign Up </h1>
                <form [formGroup]="registerForm" 
                class="form-group d-flex row pb-1" (ngSubmit)="onSubmit()">
                    <div *ngFor='let input of signUpForm' class='mb-3'>
                        <label [for]="input.name" class="pb-1">{{input.label}}</label>
                        <input [formControlName]="input.name" [type]="input.type" class="form-control"
                        [ngClass]="!isValidInput(input.name) ? 'form-control' : 'form-control is-invalid'"> 
                        <p *ngIf="isValidInput(input.name)" class="text-danger form-text">{{getInputError(input.name)}}</p>
                    </div>
                    <p class = 'text-danger w-100 text-center'> {{registerErrorMsg}}</p>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>

                <p class="text-center pt-4">Already have an Account? <a class="text-black" routerLink="/login">Log In</a></p>
            </div> 
        </div>
    </div>
</div>

