.cont{
    background: linear-gradient(to top, rgba(#541792, 0.6), rgba(225, 60, 20, 0.6) 100%);    
}

.card{
    width: 75%
}

#event-img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 200px;
}

.category{
    color: gray;
}

i{
    color:#541792;
}

strong{
    color:#541792;
}

#bottom-line{
    background-color: #834abc ;
    height: 1rem;
}

#outputContent {
    white-space: pre-line;
}

#edit-del-div{
    i{
        color: white;
    }
}

@media (max-width: 576px){
    .card{
        width: 100%
    }
}