<div class="container d-flex justify-content-center align-items-center">
    <div class="cont d-flex row w-100 justify-content-center rounded shadow pb-1 pt-2 ">
        <div class="bg-white shadow mb-2 mt-0 form-div p-0">
            <div w-100 id="event-img"></div>
            <div class="p-4">
                <h2>Event Title</h2>
                <div class="row">
                    <p class="fs-5 category"> <strong>Organizer</strong> Lorena</p>
                    <p> <i class="fa-solid fa-location-dot pe-3"></i> <strong> Location: </strong> dshtdeu</p>
                </div>
                <div class="bg-light d-flex col p-3 pb-1 rounded">
                    <p class="pe-4"><i class="fa-solid fa-calendar-days pe-3"></i> <strong>Date: </strong>20-12-2023</p>
                    <p> <i class="fa-solid fa-clock pe-3"></i> <strong>Time: </strong> 18:00 </p>

                </div>
                <p *ngIf="!readMore" class="pt-4 ps-1" (click)="showDescription()"> <strong> Read more... </strong></p>
                <p *ngIf="readMore" class="pt-4 ps-1" (click)="hideDescription()"> <strong> See less... </strong> </p>
                <p *ngIf="readMore">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ullam neque
                    quaerat repudiandae reiciendis facere sit ut error. Molestias tempora dolores nobis veritatis sed
                    reiciendis adipisci totam non vel suscipit.</p>
            </div>


        </div>
    </div>
</div>