<div >
    <div class="modal-header">
        <h4 class="modal-title">Lorem ipsum dolor sit.</h4>
    </div>

    <div class="modal-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis debitis voluptates aspernatur? Quis ut architecto, officia eaque labore unde sed cupiditate molestias, provident repellendus voluptatibus odio numquam, perspiciatis quisquam dolores? <br><br>
        Lorem ipsum dolor sit amet.
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="close()">Ok!</button>
    </div>
</div>
