<form [formGroup]="passwordUpdateForm" class="form-group" (ngSubmit)="updatePassword()">
   <div *ngFor="let input of passwordFormShape" class="pt-2 pb-2">
      <label [for]="input.name" class="mb-2">{{input.label}}</label>
      <input [formControlName]="input.name" [id]="input.name" [type]="input.type"
         [ngClass]="!isValidInput(input.name) ? 'form-control' : 'form-control is-invalid'">
      <p *ngIf="isValidInput(input.name)" class="text-danger form-text">{{getInputError(input.name)}}</p>
   </div>
   <p *ngIf="!samePassword() && isSubmit" 
      class="text-danger form-text w-100 text-center"> Passwords don't match </p>
   <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>