<div class="container d-flex justify-content-center align-items-center">
    <div class="dot"></div>
    <div class="cont w-100 justify-content-center pb-3 pt-3 ">
        <div class="d-flex row ">
            <section>
                <div class="d-flex flex-wrap">

                    <div class="p col-lg-6 col-sm-12 banner-text">
                        <h1 class="w-100 text-center p-4 pb-0 mt-2 text-primary"> <strong>Have a new event idea?!
                            </strong></h1>
                        <p class="w-100 text-center p-4 fs-5">
                            Post it now and find others to join the fun!
                        </p>
                        <div class="d-flex w-100 justify-content-center align-items-center p-4 pt-1">
                            <button routerLink="/myevents/add" class="btn bg-primary text-white pe-5 ps-5 fs-5"> Add Event </button>
                        </div>
                    </div>
                    <div class='col-lg-6 col-sm-12' id="concert-img"> </div>
                </div>
                <div class='col-lg-6 col-sm-12' id="concert-img"> </div>
            </section>


            <section class="mt-5">
                <h1> My Events </h1>
                <div *ngFor=" let event of eventsByUser">
                    <app-shared-event-card [event]="event"></app-shared-event-card>
                </div>
            </section>
        </div>

    </div>
</div>
