<div class="container mt-3 d-flex justify-content-center align-items-center">
    <div class="d-flex row w-100 justify-content-center mb-5">
        <div class="container p-lg-5 p-md-3 p-4 d-flex justify-content-center align-items-center row rounded shadow">
            <h3 class="w-100 text-center mb-3"> Events by Category </h3>
            <p class="d-flex justify-content-center align-items-center  text-center me-5 ms-5 mb-3">
                Explore the number of events in each category. <br>
                This chart provides a simple and effective way to see which types of events are available, 
                making it easier for you to find what you're looking for.</p>
            <div id="chart-div" class="d-flex justify-content-center align-items-center">
                <canvas id='barChart'> </canvas>
            </div>
        </div>
    </div>
</div>