<label class="mt-3 pb-1 "><strong>Date</strong></label>
<form class="row row-cols-sm-auto" >
	<div class="col-9">
		<div class="input-group">
			<input
				[ngClass]="(!isValidDate() || isTouched) ? 'form-control' : 'form-control is-invalid'"
				placeholder="yyyy-mm-dd"
				name="dp"
				[(ngModel)]="model"
				ngbDatepicker
				#d="ngbDatepicker"
				(click)="inputTouched()"
			/>

			<button class="btn btn-outline-primary bi bi-calendar3" (click)="d.toggle()" type="button">
                <i class="fa-regular fa-calendar"></i>
            </button>
		</div>
		<p *ngIf="!isValidDate() && isTouched" class="text-danger form-text"> Invalid date </p>
	</div>
</form>