/* You can add global styles to this file, and also import other style files */
$primary: #541690;
$secondary:rgb(255, 60, 20);


body{
    font-family: 'League Spartan', sans-serif;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
