/* You can add global styles to this file, and also import other style files */
$primary: #541690;
$secondary:rgb(255, 60, 20);


body{
    font-family: 'League Spartan', sans-serif;
}

/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 20px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #ffff;      
}  
/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom right, #541690, #ff3c14); 
    border-radius: 10px;
}



/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
